*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* General styles and layout */
body {
  background: #db614d;
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
}
.container {
  overflow: hidden;
  /* we don't want the pseudo-elements sticking out */
}
.container svg {
  display: block;
}
section {
  position: relative;
  padding: 10em 10%;
  background: #fff55b;
  color: #fff;
  text-align: center;
}
section h2 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 400;
}
section p {
  color: rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  line-height: 1.5;
}
.text:first-child {
  text-align: right;
}
.text:nth-child(2) {
  text-align: left;
}
.col-2 .column {
  width: 49%;
}
.col-3 .column {
  padding: 0 1%;
  width: 33%;
  text-align: center;
}
@media (max-width: 865px) {
  .col-3 .column {
    padding: 100px 1% 0px 1%;
  }
}
.col-3 .column p {
  padding: 0.5em;
}
.column {
  display: inline-block;
  vertical-align: top;
}
.icon {
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  font-size: 8em;
  line-height: 2em;
  margin: 0 auto;
}
section.color h2 {
  color: #fff;
}
.color {
  background: #3498db;
}
a {
  text-decoration: none;
  color: #fff;
}
.container > header {
  font-family: 'Lato', Arial, sans-serif;
  color: #fff;
  background: #3498db;
}
.container > header {
  margin: 0 auto;
  padding: 4.5em 2em 7em;
  text-align: center;
}
.container > header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}
.container > header span {
  display: block;
  font-size: 60%;
  opacity: 0.7;
  padding: 0 0 0.6em 0.1em;
}
/* To Navigation Style */
.related {
  background: #ecf0f1;
  color: #777;
  text-align: center;
}
.related a {
  font-weight: 700;
  color: #3498db;
  opacity: 0.7;
}
.related a:hover {
  opacity: 1;
}
/*** Individual section styles and separators ***/
/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}
/* Triangles */
.ss-style-triangles::before,
.ss-style-triangles::after {
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.ss-style-triangles::before {
  top: -30px;
  background: #14ddb3;
}
/* Double Diagonal line */
.ss-style-doublediagonal {
  z-index: 1;
  padding-top: 6em;
  background: #2072a7;
}
.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.ss-style-doublediagonal::before {
  height: 50%;
  background: #1abc9c;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}
/* Rounded center split and bottom rounded */
.ss-style-roundedsplit {
  padding-top: 7em;
}
.ss-style-roundedsplit::before,
.ss-style-roundedsplit::after {
  top: -70px;
  left: 0;
  z-index: 10;
  width: 50%;
  height: 70px;
  background: inherit;
}
.ss-style-roundedsplit::before {
  border-radius: 0 80px 0 0;
}
.ss-style-roundedsplit::after {
  left: 50%;
  border-radius: 80px 0 0 0;
}
/* Inverted rounded corners */
.ss-style-invertedrounded {
  margin-bottom: 90px;
  padding: 30px 0 60px 0;
  border-radius: 0 0 0 90px;
}
.ss-style-invertedrounded::before,
.ss-style-invertedrounded::after {
  left: 0;
  z-index: -1;
  height: 90px;
  background: #f38268;
}
.ss-style-invertedrounded::before {
  top: 100%;
  width: 100%;
  border-radius: 0 0px 0 0;
}
.ss-style-invertedrounded::after {
  bottom: 0;
  z-index: -1;
  width: 50%;
}
/* Media Queries for the layout */
@media screen and (max-width: 68em) {
  section {
    font-size: 80%;
  }
}
@media screen and (max-width: 54em) {
  .column {
    display: block;
    width: 100% !important;
  }
  .text:first-child,
  .text:nth-child(2) {
    text-align: center;
  }
  .icon {
    margin: 0 auto;
  }
  .col-2 .column:first-child .icon {
    margin: 0 auto 50px;
  }
  .col-2 .column:nth-child(2) .icon {
    margin: 50px auto 0;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#jk {
  background-color: #2c3e50;
}
#jk h1 {
  text-indent: -9999px;
}
#text {
  background-color: #14ddb3;
  padding: 30px 20px 90px 20px;
}
#text p {
  color: #fff8b6;
  font-size: 40px;
}
#cool {
  background-color: #fff55b;
  padding: 100px 20px 10px 20px;
}
#cool p {
  color: #f38268;
  font-weight: 200;
  font-size: 24px;
}
@media (max-width: 865px) {
  #cool {
    padding: 20px 20px 10px 20px;
  }
}
#skillz {
  background-color: #f38268;
  padding: 0px 20px 130px 20px;
}
#skillz h2 {
  font-weight: 200;
  color: white;
  font-size: 60px;
  line-height: 1.6em;
}
#skillz h2 .hair {
  font-weight: 100;
}
@media (max-width: 865px) {
  #skillz {
    padding: 0px 20px 180px 20px;
  }
}
#projects {
  background-color: #db614d;
  padding: 60px 20px 130px 20px;
}
@media (max-width: 865px) {
  #projects {
    padding: 0px 20px 90px 20px;
  }
}
#contact {
  background-color: #2c3e50;
  padding: 60px 20px 130px 20px;
  border-radius: 0px 80px 0px 0px;
}
#contact p a {
  color: #14ddb3;
  font-size: 40px;
  line-height: 2.5;
  font-weight: 200;
}
#contact .facebook {
  margin-top: 40px;
}
